<section class="section">
  <div class="container">
    <div class="notification">
      <h1 class="title">Recherche de film</h1>
      <div class="field is-grouped">
        <div class="control is-expanded">
          <input class="input" type="text" placeholder="Titre">
        </div>
        <div class="control">
          <input class="input" type="text" placeholder="Année">
        </div>
        <div class="control">
          <a class="button is-info">
          Rechercher
          </a>
        </div>
      </div>
      <div class="is-divider" id="search-divider" data-content="OR"></div>
      <div class="field is-grouped">
        <div class="control is-expanded">
          <input class="input" type="text" placeholder="ID">
        </div>
        <div class="control">
          <a class="button is-info">
          Rechercher
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
