@charset "utf-8";

@import "node_modules/bulma/bulma.sass";
@import "node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.sass";
@import "node_modules/bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.sass";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

#search-divider::after {
    background-color: whitesmoke;
}

.add-to-list-btn
{
  display: block;
  width: 100%;
}

body {
  background-color: white;
}

html {
  min-height: 100%;
  background-color: $footer-background-color;
}

#main-content {
  padding-bottom: 30px;
}
