{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MovieList | {% block title %}{% endblock %}</title>

  {% render_bundle 'main' 'css' %}
</head>

<body>
  <section class="hero is-warning is-small">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              {% url 'index' as index_url %}
              <a href="{{ index_url }}" class="navbar-item {% if request.path == index_url %}is-active{% endif %}" >
                Accueil
              </a>
              {% if not user.is_authenticated %}
                {% url 'signup' as signup_url %}
                <a href="{{ signup_url }}" class="navbar-item {% if request.path == signup_url %}is-active{% endif %}" >
                  Sign up
                </a>
                {% url 'login' as login_url %}
                <a href="{{ login_url }}" class="navbar-item {% if request.path == login_url %}is-active{% endif %}">
                  Connexion
                </a>
              {% else %}
                {% url 'my_list' as my_list_url %}
                <a href="{{ my_list_url }}" class="navbar-item {% if request.path == my_list_url %}is-active{% endif %}">
                  My List
                </a>
                <a class="navbar-item" href="{% url 'logout' %}">
                  Déconnexion
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          <a href="{% url 'index' %}">MovieList</a>
        </h1>
      </div>
    </div>
  </section>

  <div class="container" id="main-content">
    {% block content %}{% endblock %}
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>MovieList</strong> - Bulloni Lucas, Jaggi Charles-Lewis, Mottier Fabien
      </p>
      <p>
        &copy; HE-Arc - {% now 'Y' %}
      </p>
    </div>
  </footer>

  {% render_bundle 'main' 'js' %}
</body>
</html>
